@charset "UTF-8";

#myheader{
	display:flex;
	/*padding:20px;*/
	border-bottom:solid;
}
#title{
	width:75%;
	font-weight: 400;
}
#cont-ind{
	width:25%;
}
#indicator{
	width: 70px;
	height: 70px;
	background-color: #00FF00;
	margin: 0 auto;
}
#cont-cont{
	display:flex;
	padding: 20px;
}
#cont-map {
	width: 75%;
	text-align:center;
}
#map {
	width: 100%;
	height: 100%;
}
#cont-legend{
	width:25%;
	padding: 20px;
}
#legend{
	text-align:center;
}
#legend > table{
	margin: 0 auto;
}

#myfooter{
	text-align:center;
	padding:20px;
}
h1{text-align:center;}

body {
	font: 16px/1.4 Ubuntu, Arial, sans-serif;
}

.ghbtns {
	position: relative;
	top: 4px;
	margin-left: 5px;
}

a {
	color: #0000FF;
	padding: 1px;
}

a:link, a:visited {
	text-decoration:none;
	border-image:none;}
	
a:hover {
	text-decoration:underline;
}